
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 50px;
    height: 100vh;
}


.header {
    grid-area: header;
    background-color: #85ac61;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.header nav a:hover {
    text-decoration: underline;
}


.sidebar {
    grid-area: sidebar;
    background-color: #aed28c;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #ff9800;
}

.content {
    grid-area: content;
    background-color: #f4f4f4;
    padding: 20px;
}


.footer {
    grid-area: footer;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header"
            "content"
            "sidebar"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}